<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link type="text/css" rel="stylesheet" href="/static/styles/styles.css">
		<link type="text/css" rel="stylesheet" href="/static/styles/admin_news.css">

		<title>ABSCH - Noticias</title>
	</head>

	<body>
		
		<div id="main-container">
			<nav class="navbar hidden" id="navbar">
				<a href="/">
					<img src="/static/images/logo.png" id="app-logo">
				</a>

				<a href="/">
					<img src="/static/images/home.png" class="navbar-icon">
					<span>Inicio</span>
				</a>

				<a href="/tramites/">
					<img src="/static/images/procedures.png" class="navbar-icon">
					<span>Tramites</span>
				</a>

				<a href="/noticias/">
					<img src="/static/images/news.png" class="navbar-icon">
					<span>Noticias</span>
				</a>

				<a href="/contacto/">
					<img src="/static/images/contact.png" class="navbar-icon">
					<span>Contacto</span>
				</a>
			</nav>

			<main class="main" id="main">
				<header class="page-header">
					<div id="hamburger-menu">
						<span></span>
						<span></span>
						<span></span>
					</div>

					<h1>Noticias</h1>
				</header>

				<div class="management-buttons">
					<img src="/static/images/add.png" id="add" class="management-button">
					<img src="/static/images/remove.png" id="remove" class="management-button">
				</div>

				<section class="news-wrapper">
					{% for new in news %}	
						<div class="new">
							<div class="new-image"></div>
							<h3 class="new-title">{{ new["title"] }}</h3>
							<p class="new-text">{{ new["content"] }}</p>
						</div>
					{% endfor %}
				</section>
			</main>
		</div>

		<script src="/static/scripts/script.js"></script>
	</body>
</html>