<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link type="text/css" rel="stylesheet" href="/static/styles/styles.css">
		<link type="text/css" rel="stylesheet" href="/static/styles/index.css">

		<title>ABSCH - Inicio</title>
	</head>

	<body>
		
		<div id="main-container">
			<nav class="navbar hidden" id="navbar">
				<a href="/">
					<img src="/static/images/logo.png" id="app-logo">
				</a>

				<a href="/">
					<img src="/static/images/home.png" class="navbar-icon">
					<span>Inicio</span>
				</a>

				<a href="/tramites/">
					<img src="/static/images/procedures.png" class="navbar-icon">
					<span>Tramites</span>
				</a>

				<a href="/noticias/">
					<img src="/static/images/news.png" class="navbar-icon">
					<span>Noticias</span>
				</a>

				<a href="/contacto/">
					<img src="/static/images/contact.png" class="navbar-icon">
					<span>Contacto</span>
				</a>
			</nav>

			<main class="main" id="main">
				<header class="page-header">
					<div id="hamburger-menu">
						<span></span>
						<span></span>
						<span></span>
					</div>

					<h1>Pagina de inicio</h1>
				</header>

				<section class="page-content">
					
					<div class="gallery">
						<div>
							<h2>CENTRO DE BACHILLERATO TECNOLÓGICO Industrial y de Servicios N°. 206</h2>
							<h3>BENJAMIN G. HILL</h3>
						</div>
						<img src="/static/images/school_image.jpg" class="gallery-image">
					</div>

					<section class="page-info">
						<section>
							<h3>¿Quienes somos?</h3>
							<p>Somos una preparatoria que busca ofrecerte el mejor desarollo academico y profesional con nuestro amplio catalogo de especialidades</p>
						</section>

						<section>
							<h3>¿Por que CBTIS 206?</h3>
							<p>Somos la unica preparatoria de la ciudad que ofrece capacitaciones completas en carreras que son muy demandadas actualmente</p>
						</section>
					</section>


				</section>
			</main>
		</div>

		<script src="/static/scripts/script.js"></script>
	</body>
</html>