<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link type="text/css" rel="stylesheet" href="/static/styles/styles.css">
		<link type="text/css" rel="stylesheet" href="/static/styles/procedures.css">

		<title>ABSCH - Tramites</title>
	</head>

	<body>
		
		<div id="main-container">
			<nav class="navbar hidden" id="navbar">
				<a href="/">
					<img src="/static/images/logo.png" id="app-logo">
				</a>

				<a href="/">
					<img src="/static/images/home.png" class="navbar-icon">
					<span>Inicio</span>
				</a>

				<a href="/tramites/">
					<img src="/static/images/procedures.png" class="navbar-icon">
					<span>Tramites</span>
				</a>

				<a href="/noticias/">
					<img src="/static/images/news.png" class="navbar-icon">
					<span>Noticias</span>
				</a>

				<a href="/contacto/">
					<img src="/static/images/contact.png" class="navbar-icon">
					<span>Contacto</span>
				</a>
			</nav>

			<main class="main" id="main">
				<header class="page-header">
					<div id="hamburger-menu">
						<span></span>
						<span></span>
						<span></span>
					</div>

					<h1>Tramites</h1>
				</header>

				<section class="procedures-wrapper">
					<div class="procedure">
						<h3>Boleta/Kardex</h3>
						<a href="/tramites/boleta/" class="procedure-button">Tramitar</a>
					</div>

					<div class="procedure">
						<h3>Constancia de estudios</h3>
						<a href="/tramites/constancia/" class="procedure-button">Tramitar</a>
					</div>

					<div class="procedure">
						<h3>Consultar curp <small>(www.gob.mx)</small></h3>
						<a href="https://www.gob.mx/curp/" class="procedure-button" target="_blank">Ir</a>
					</div>
				</section>
			</main>
		</div>

		<script src="/static/scripts/script.js"></script>
	</body>
</html>