.procedures-wrapper {
	display: flex;
	flex-direction: column;

	align-items: center;

	gap: 1.5rem;
	padding: 1rem;
}

.procedure {
	display: flex;
	flex-direction: column;

	justify-content: space-around;
	text-align: center;

	width: 90%;
	height: 10rem;

	border-radius: 1rem;
	background-color: var(--color-black);
}

.procedure-button {
	padding: 0.5rem 1.75rem;
	margin: 0px 1rem 0px auto;

	cursor: pointer;
	text-decoration: none;

	color: white;
	border-radius: 1rem;
	border: 0.2rem solid var(--color-green);
}

.procedure-button:active {
	color: var(--color-black);
	background-color: var(--color-green);
}



@media screen and (min-width: 500px) {
	.procedures-wrapper {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;

		justify-content: center;

		overflow-y: auto;
		padding: 1rem 5rem;
	}

	.procedure {
		width: 30rem;
		height: 12rem;
		flex-shrink: 0;
	}
}